{% extends "base.html" %}

{% block content %}
<section class="chapters-list">
    <div class="container">
        <h1 class="chapters-title">Book II: The Natural Sciences</h1>
        <div class="toc-grid">

            <article class="toc-item">
                <span class="chapter-numeral">Part V.</span>
                <div class="chapter-info">
                    <h3>The Dynamical World</h3>
                    <p><a href="/dramatic-universe/book-2/ch13/">CH13: The Representation of the Natural Order</a></p>
                    <p><a href="/dramatic-universe/book-2/ch14/">CH14: Motion</a></p>
                </div>
            </article>

            <article class="toc-item">
                <span class="chapter-numeral">Part VI.</span>
                <div class="chapter-info">
                    <h3>The World of Energy</h3>
                    <p><a href="/dramatic-universe/book-2/ch15/">CH15: The Universal Geometry</a></p>
                    <p><a href="/dramatic-universe/book-2/ch16/">CH16: Simple Occasions</a></p>
                </div>
            </article>

            <article class="toc-item">
                <span class="chapter-numeral">Part VII.</span>
                <div class="chapter-info">
                    <h3>The World of Things</h3>
                    <p><a href="/dramatic-universe/book-2/ch17/">CH17: Corpuscles and Particles</a></p>
                    <p><a href="/dramatic-universe/book-2/ch18/">CH18: Composite Wholeness</a></p>
                </div>
            </article>

            <article class="toc-item">
                <span class="chapter-numeral">Part VIII.</span>
                <div class="chapter-info">
                    <h3>Life</h3>
                    <p><a href="/dramatic-universe/book-2/ch19/">CH19: The Bases of Life</a></p>
                    <p><a href="/dramatic-universe/book-2/ch20/">CH20: Living Beings</a></p>
                    <p><a href="/dramatic-universe/book-2/ch21/">CH21: The Unity of Life</a></p>
                </div>
            </article>

        </div>
    </div>
</section>
{% endblock content %}
